body{
	background-color:white;
	overflow:hidden;
}

.fullcore {
}

td.fccell {
	background-color:white;
}

.fullcoretable {
	font-size:1.5vmin;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
	background-color:white;
}

#Core{
	position:relative;
}

.celldata{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
	z-index:101;
}

#rotInfo{
	position:fixed;
	top:0px;
	left:0px;
}

#CopyMe{
	text-align:center;
}

#outContainer{
	position:relative;
	z-index:200;
	padding:5px;
}

.pointHover:hover {
	cursor:pointer;
}
.noHover:hover {
	cursor:not-allowed;
}
